:root{
    --green: #27ae60;
    --black:#192a56;
    --light-color: #666;}

body {
    font-family: Arial, sans-serif;
    /* background-color: var(--black); */
    color: var(--light-color);
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

h2 {
    color: var(--green);
    text-align: center;
    margin-top: 2%
}

form {
    width: 250px;
    margin:7% auto;
    /* position: sticky; */
    /* background-color: var(--black); */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    /* background-color: var(--black); */
    color: var(--light-color);
}

button, #signup{
    width: 100%;
    padding: 10px;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,#signup:hover {
    background-color:var(--green);
}

#signup{
    width: 90%;
    padding:4% 4.8% ;
    font-size: small;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


a {
    color: var(--light-color);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    color: var(--green);
}

p{
    margin-top: 2%;
     text-align: center;
}