<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/js/cart.js"></script>
  <link rel="stylesheet" href="/static/cart.css">
 
  
  <title>order page</title>
</head>
<body>
  
    <header>
    <h1>Your basket</h1>
 </header>
   
 <section>
  <!-- <table>
    <tr>
    <th id="items">ITEMS</th>
    <th id="cost">COST</th>
    <th id="quantity">QUANTITY</th>
    <th id="total">TOTAL</th>
    <th id="remove"></th>
  </tr>
  </table> -->
  <table id="cart-list">
       
    
  </table>
  </section>

  <footer>
    <div><p id="total-price">Total: $0.00</p></div>
    <a  id="order-now-btn">Order Now</a>
  </footer>


  
</body>
</html>
